<div class="navbar">
    <div class="left">
        <a href="lproject.html"><img src="./assets/logoFN.png" class="logo" alt="Logo" /></a>
    </div>

    <div class="center">
        <nav>
            <a href="personages.html" class="nav-btn">Personages</a>
            <a href="favoriet.html"  class="nav-btn">Favorieten</a>
            <a href="blacklist.html" class="nav-btn">Zwarte Lijst</a>
        </nav>
    </div>

    <div class="right">
        <div class="user-info">
            <img id="user-profile-img" src="./assets/question-mark.svg" alt="User" class="user-profile" />
            <span class="username" id="username_display">Gebruikersnaam</span>
            <button class="info-btn">ℹ️</button>
        </div>
    </div>
</div>