

body {
    background-color: #111;
    color: white;
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    text-align: center;
}
.logo {
    height: 50px; /* Pas de grootte van het logo aan */
    width: auto;
}


/* Header */
header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
    background-color: #222;
}

.auth-buttons button {
    background-color: white;
    color: black;
    border: none;
    padding: 8px 16px;
    margin-left: 10px;
    cursor: pointer;
}


.grid-container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
    padding: 20px;
    max-width: 1200px;
    margin: auto;
}

.game {
    background-color: #222;
    padding: 15px;
    border-radius: 10px;
}

.game img {
    width: 100%;
    border-radius: 10px;
}

.play-btn {
    background-color: #333;
    color: white;
    border: none;
    padding: 10px;
    margin-top: 10px;
    cursor: pointer;
}

.game:hover {
    background-color: red;
}

.game:nth-child(1):hover {
    background-color: green;
}


/* Footer */
footer {
    background-color: #222;
    padding: 10px;
    margin-top: 20px;
}
