

body {
    background-color: #fffbfb;
    color: white;
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    text-align: center;
}
.logo {
    height: 50px; /* Pas de grootte van het logo aan */
    width: auto;
}


/* Header */
header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
    background-color: #c3bcbc;
}

.auth-buttons button {
    background-color: white;
    color: rgb(201, 201, 201);
    border: none;
    padding: 8px 16px;
    margin-left: 10px;
    cursor: pointer;
}


.grid-container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
    padding: 20px;
    max-width: 1200px;
    margin: auto;
}

.game {
    background-color: #ffc0c0;
    padding: 15px;
    border-radius: 10px;
}

.game img {
    width: 100%;
    border-radius: 10px;
}
    

.game:hover {
    background-color: red;
}

.game:nth-child(1):hover {
    background-color: green;
}

.play-btn {
    background-color: #333;
    color: white;
    border: none;
    padding: 10px;
    margin-top: 10px;
    cursor: pointer;
}


:root{
    --width: 350px
}

@keyframes melding {
    0%{
        transform: translateY(-100px);
    }
}


.geen_toegang{
    animation: melding 1s ease-in-out;
    cursor: default;
    /* position */
    width: var(--width);
    height: 70px;
    position: absolute;
    top: 20px;
    right: calc(50% - (var(--width) / 2));
    /* style */
    background-color: rgb(255, 255, 255);
    border-radius: 10px;
    box-shadow: 0px 0px 3px 3px rgb(163, 163, 163);

    display: flex;    
    & > .info{
        height: 100%;
        width: 30px;
        /* background-color: #d9d9d9; */
    } 

    & > :first-child > svg{
        fill: red;
        position: absolute;
        top: 20%;
        left: 4%;

        scale: 1;
    }

    & > .melding{
        /* outline: 1px solid black; */

        line-height: 0.6;
        font-size: 1rem;
        color: black;
        padding-left: 20px;
        text-align: left;

        & > :first-child{
            padding-top: 5%;
            font-weight: bold;
        }
    }



    & > :last-child{
        height: 100%;
        flex-grow: 1;
        & button{
            position: absolute;
            right: 10px;
            top: 10px;
            background: none;
            border: none;
        }

        &  svg:hover{
            background-color: rgba(102, 102, 102, 0.258);
            border-radius: 10px;
            cursor:pointer;
        }

    }

}


@keyframes fade_out {
    0%{
        opacity: 1;
    }
    80%{
        opacity: 1;
    }
    100%{
        opacity: 0;
    }

}

.fade_out{
    animation: fade_out 3s ease-out forwards;
}



/* Footer */
footer {
    background-color: #222;
    padding: 10px;
    margin-top: 20px;
}
