@font-face {
    font-family: Fortnite;
    src: url(../fonts/Fortnite.ttf);
}

body {
    background-image: url(../assets/background/background.png);
    background-position: center; 
    background-size: cover; 
    background-repeat: no-repeat; 
    background-attachment: fixed; 
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
}

.logo {
    height: 100px; 
    width: auto;
}

.login-container {
    padding: 40px;
    text-align: center;
    background-color: transparent;
}


h1 {
    margin-bottom: 20px;
}

form {
    display: flex;
    flex-direction: column;
}

input {
    margin-bottom: 6px;
    color: rgb(81, 91, 102);
    border: none;
    font-size: 18px;
    background-color: #dee4f5;
    width: 400px; 
    height: 42px; 
    padding-left: 10px;
    font-family: "Roboto mono", serif;
}

input::placeholder {
    color: #a5a5a5;
}

input:focus {
    outline: none;
    border: none;
    box-shadow: none;
    
}


.input-text {
    display: flex;
    flex-direction: column;
    gap: 10px
}

button {
    padding: 10px;
    border: none;
    cursor: pointer;
}

.under-buttons {
    display: flex;
    flex-direction: column;
    margin-bottom: 25px;
    margin-top: 5px;
}

.under-buttons a {
    color: white;
    font-size: 14px;
    margin-top: 5px;
    padding: 0;
    background-color: #00000000;
    font-family:  "Roboto Mono", serif;
    transition: color 0.2s ease;
    text-decoration: none;
}

.under-buttons a:hover {
    color: rgb(174, 193, 209);
}

.login_button {
    background-color: #B3C9FA;
    border: 5px solid #CEDBF9;
    color: #292A49;
    margin: 0 100px;
    padding: 6px 5px 5px 5px;
    font-size: 30px;
    font-family: Fortnite;
    transition: 0.08s ease-in-out;
}

.login_button:hover {
    background-color: #FFF457;
    border: 5px solid #EDE56A;
}


footer {
    position: absolute;
    bottom: 25px;
    left: 50%;
    transform: translateX(-50%); 
    margin: 0 auto;
    color: white;
    font-size: 12px;
    opacity: 0.4;
}