body {
    background: linear-gradient(to bottom, #007BFF, #00BFFF);
    color: white;
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    width: 100vw;
}

.logo {
    height: 50px; 
    width: auto;
}


.container {
    text-align: center;
}

h1 {
    font-size: 3rem;
    margin-bottom: 20px;
}

.username {
    font-size: 2rem;
    font-weight: bold;
    margin-bottom: 20px;
}

button {
    padding: 10px 20px;
    margin: 10px;
    border: none;
    border-radius: 5px;
    font-size: 1rem;
    cursor: pointer;
    transition: background-color 0.3s;
}

button.logout {
    background-color: #A9A9A9;
    color: black;
}

button.play {
    background-color: #FFD700;
    color: black;
}

button:hover {
    opacity: 0.8;
}

footer {
    margin-top: 20px;
    font-size: 0.9rem;
    color: #ccc;
}

