<section class="top_section_small">

    <h1>Personages</h1>

    <div class="page_buttons">
        <button class="arrow" id="back_arrow">
            <svg xmlns="http://www.w3.org/2000/svg"  viewBox="0 -960 960 960"  fill="#5f6368"><path d="m313-440 224 224-57 56-320-320 320-320 57 56-224 224h487v80H313Z"/></svg>
        </button>
     
        <button class="arrow" id="forward_arrow">
            <svg  xmlns="http://www.w3.org/2000/svg"  viewBox="0 -960 960 960"  fill="#5f6368"><path d="M647-440H160v-80h487L423-744l57-56 320 320-320 320-57-56 224-224Z"/></svg>
        </button>
      
    </div>

    <div class="search_bar">
        <input type="text" id="search_small" placeholder="Zoek" >
        <button class="play-btn_small">Play</button>

    </div>
    <select id="filter_rarity_small">
        <option value="">Alle Zeldzaamheden</option>
        <option value="common">Common</option>
        <option value="uncommon">Uncommon</option>
        <option value="rare">Rare</option>
        <option value="epic">Epic</option>
        <option value="legendary">Legendary</option>
        <option value="other">Overige</option>
    </select>

</section>
