@font-face {
    font-family: Fortnite;
    src: url(../fonts/Fortnite.ttf);
}

body {
    background-image: url(../assets/background/background.png);
    background-position: center; 
    background-size: cover; 
    background-repeat: no-repeat; 
    background-attachment: fixed; 
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
}

.logo {
    position: absolute;
    height: 85px;
    width: auto;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
    margin-top: 50px;
}

.landing-container {
    text-align: center;
    margin-bottom: 60px;
    color: white;
}

.username {
    font-family: Fortnite;
    font-size: 80px;
    margin-bottom: 40px;
    display: flex;
    font-weight: 400;
    justify-content: center;
    align-items: center;
    gap: 20px;
}

.profile-pic {
    width: 90px;
    height: auto;
    border-radius: 50%;
    object-fit: cover;
    outline: 5px solid rgba(255, 255, 255, .6);
    outline-offset: -px;
}

.buttons {
    display: flex;
    justify-content: center;
    gap: 20px;
    margin-top: 30px;
}

button {
    height: 65px;
    width: 250px;
    padding: 0;
    border: 6px solid #CEDBF9;
    font-size: 36px;
    font-family: Fortnite;
    cursor: pointer;
    position: relative;
    overflow: hidden; /* Keep the animation inside the button */
    transition: all 0.1s ease-in-out;
  }


  a:visited,a{
    text-decoration: none;
    color: #292A49;
  }

  
  .play-btn {
    background-color: #FFF457;
    border-color: #EDE56A;
    color: #292A49;
    transition: background-color 0.3s ease, border-color 0.3s ease, color 0.3s ease, width 0.3s ease, letter-spacing 0.3s ease;
  }
  
  .play-btn::before {
    content: '';
    position: absolute;
    top: 0;
    left: -110%;
    width: 100%;
    height: 100%;
    background: linear-gradient(
      120deg,
      rgba(255, 255, 255, 0) 0%,
      rgba(255, 255, 255, 0.7) 50%,
      rgba(255, 255, 255, 0) 100%
    );
    transition: left 0.4s ease-in-out;
    transform: skewX(-30deg);
  }
  
  .play-btn:hover::before {
    left: 110%;
  }
  
  .play-btn:hover {
    background-color: rgb(247, 255, 0);
    border-color: rgb(227, 227, 45);
    color: #02021f;
    width: 260px !important;
    letter-spacing: 0.5px;
  }
  

  .logout-btn {
    background-color: #B3C9FA;
    color: #292A49;
  }
  
  .logout-btn:hover {
    background-color: #ff4545;
    border: 6px solid rgb(255, 106, 106);
    color: rgb(255, 242, 242);
  }
  

footer {
    position: absolute;
    bottom: 20px;
    left: 50%;
    transform: translateX(-50%);
    font-size: 12px;
    opacity: 0.4;
}
